 {% extends "base.html.twig" %}

  {% block  title %}Product list{% endblock %}
  {% block body %}






  <div class="container">
{% if products %}


     <div class="row">
      {% set i = 0 %}
     {% for product in products %}

<div class="col-lg-4">
<div class="card" style="width: 18rem; " >
<img alt="Card image cap" class="card-img-top" style="max-height: 100%;" src="{{ asset('/images/' ~ product.getProductImage) }}">
    <div class="card-body">
<h5 class="card-title">{{product.getProductName}}</h5>
<p class="card-text">{{product.getProductName}}</p>
<a class="btn btn-primary" href="/view/{{product.getId}}">View</a>
    </div>
</div>
</div>

        {# <div class="col-lg-4">
        <img   height="400" width="200"   src="{{ asset('/images/' ~ product.getProductImage) }}">
        <h3>{{product.getProductName}} </h3>
{{product.getProductName}}
        <p></p>
        <a href="/view/{{product.getId}}" class="">View</a>
        </div> #}
    {% set i = (i + 1) %}
     {% if (i % 3) == 0 %}
     </div><div class="row">
     {% endif %}
     
        {% endfor %}
      </div>




{% else %}
    <h2>No product</h2>

{% endif %}

</div>
  {% endblock %}

