 {% extends "base.html.twig" %}

  {% block  title %}Product list{% endblock %}
  {% block body %}






{% if products %}

     {% for product in products %}

<div class="col-9 mx-auto col-md-6 col-lg-3 my-3">
<div class="card" style="width: 18rem; " >
<img alt="Card image cap" class="card-img-top" style="max-height: 100%;" src="{{ asset('/images/' ~ product.getProductImage) }}">
    <div class="card-body">
<h5 class="card-title">{{product.getProductName}}</h5>
<p class="card-text">{{product.getProductName}}</p>
<a class="btn btn-primary" href="/view/{{product.getId}}">View</a>
    </div>
</div>
</div>

        {# <div class="col-lg-4">
        <img   height="400" width="200"   src="{{ asset('/images/' ~ product.getProductImage) }}">
        <h3>{{product.getProductName}} </h3>
{{product.getProductName}}
        <p></p>
        <a href="/view/{{product.getId}}" class="">View</a>
        </div> #}

     
        {% endfor %}
 



{% else %}
    <h2>No product</h2>

{% endif %}


  {% endblock %}

